@import "../variables/Variables.scss";

.card-change-password {
  min-height: calc(100vh - (80px + 50px));
  .card-btn {
    margin-top: 0.4em;
  }
  .card-link-register {
    margin-bottom: 0.4em;
  }
}
// -------------Themes-------------
#light .card-change-password {
  @include main-colors-light;
}

#dark .card-change-password {
  @include main-colors-dark;
}
