/* @import './variables/Variables.scss';*/
/* 
.App {
  text-align: center;
}   */

/* #light{
  background-color: #b7e4c7;
  color: #081c15;
}

#dark{
  background-color: #2d6a4f;
  color: #f4f4f4;
} */


/*
#dark{
  background-color: $darkerGreenColor;
  color: $whiteColor;
}
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
